<div class="container">
{{#each post}}
    <form class="well form-horizontal" action="/updatePost" method="get"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Update Post</legend>


<!-- Hidden input-->

<input type="hidden" id="postId" name="postId" value="{{this.Id}}">

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Title of Post</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
  <input name="title" value="{{this.title}}" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Street</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="street" value="{{this.street}}" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
 
<div class="form-group">
  <label class="col-md-4 control-label">City</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="city" value="{{this.city}}" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">State</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="state" class="form-control selectpicker" >
{{#each ../states}}
      <option {{{selected ../this.state this.name}}}>{{this.name}}</option>
{{/each}}
    </select>
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Zip Code</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
         <input name="zip" value="{{this.zip}}" class="form-control"  type="text">
    </div>
</div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Date to Help</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input class="form-control" value="{{this.year}}-{{this.month}}-{{this.day}}" type="date" name="dateRequesting">
    </div>
</div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Time Expected</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input class="form-control" value="{{this.timeRequesting}}" type="time" name="timeRequesting">
    </div>
</div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Number of Pets</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-knight"></i></span>
        <input class="form-control" value="{{this.pets}}" type="number" name="pets">
    </div>
</div>
</div>
<!--Type of help -->
<div class="form-group"> 
  <label class="col-md-4 control-label">How are you helping</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="offerType" class="form-control selectpicker" >
      <option value="ride" {{{selected this.offerType 'ride'}}}>Ride</option>
      <option value="shelter" {{{selected this.offerType 'shelter'}}}>Shelter</option>
      <option value="rideback" {{{selected this.offerType 'rideback'}}}>Ride Back</option>
       </select>
  </div>
</div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Number of People</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-knight"></i></span>
        <input class="form-control" value="{{this.space}}" type="number" name="space">
    </div>
</div>
</div>

<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Message</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="message">{{this.message}}</textarea>
  </div>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Update<span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
{{/each}}
</div>
    </div><!-- /.container -->
